<!-- Single button -->
<div class="container">
  <div class="row " style="text-align:center">
    <img width="350" alt="transformers Logo" src="assets\transformers.jpg">
    <div class="btn-group-vertical" role="group">
      <button type="button" class="btn btn-mi-color btn-lg btn-block letra" (click)="redirectGuardarVehiculoPage()">
        <i class="fas fa-plus-circle"></i>  AGREGAR VEHICULO</button>
      <button type="button" class="btn btn-mi-color btn-lg btn-block letra" (click)="redirectSacarVehiculoCarroPage()">
        <i class="fas fa-minus-circle"></i>  RETIRAR VEHICULO</button>
      <button type="button" class="btn btn-mi-color btn-lg btn-block letra" (click)="redirectlistaVehiculosActivosPage()">
        <i class="fas fa-list-alt"></i>  VEHICULOS ACTIVOS</button>
    </div>
  </div>
</div>